<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
      <form action="/" method="post">
        <textarea name="questions" class="input-block-level" rows="10"></textarea>
				<div>
        <input type="submit" class="btn btn-large btn-primary" value="Get Answer(s)">
      </form>

      <!-- [START Answers] -->
			<table>
      {% for answer in answers %}
        <tr>
					<td>{{answer.get("question")}}</td>
					{% for choice in answer.get("answers") %}
						{% if (choice.get("score") < 0.5) %}
							<td>Minimum answer score not met</td>
						{% else %}
							<td>{{choice.get("answer")}}</td>
						{% endif %}						
					{% endfor %}
				</tr>
			{% endfor %}
      <!-- [END Answers] -->
			</table>
  </body>
</html>
{% endautoescape %}
